
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Chào bạn đã quay trở lại, <b>Admin</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Ngày đặt hàng</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let product of products">
                                <tr>
                                    <th scope="row"><b>{{product.id}}</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>{{product.bill.billStatus}}
                                    </td>
                                    <td><b>{{product.product.productName}}</b></td>
                                    <td><b>{{product.product.price}}</b></td>
                                    <td><b>{{product.bill.address}}</b></td>
                                    <td>{{product.bill.dateCreate}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>{{product.product.price*product.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Thời Thượng Store
                </p>
            </div>
        </footer>
