  <body id="reportsPage">
    <app-admin-menu></app-admin-menu>
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Giá sản phẩm</th>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Loại sản phẩm</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody  *ngFor="let product of products">
                  <tr>
                    <th scope="row" [routerLink]="['/admin/product/edit']"> <div class="message-img">
                      <img src="{{product.img}}" alt="">
                  </div></th>
                    <td class="tm-product-name">{{product.productName}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.productType}}</td>
                    <td>
                      <a [routerLink]="['/admin/product/']" class="tm-product-delete-link"
                      (click)="deleteProduct(product.id)"
                      >
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a [routerLink]="['/admin/product/add']"
              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
          </div>
        </div>

      </div>
    </div>
  </body>
