<app-menu></app-menu>
<!DOCTYPE html>
<html lang="en">
  <body class="">
    <div style="margin-top: 0px" class="container">
      <div class="container1">
        <h5>Danh sách đơn hàng</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Ảnh sản phẩm</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Giá</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><img class="img-pro" /></td>
              <td>Otto</td>
              <td>1</td>
              <td>4000000 VNĐ</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td><img class="img-pro" /></td>
              <td>Otto</td>
              <td>1</td>
              <td>4000000 VNĐ</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td><img class="img-pro" /></td>
              <td>Otto</td>
              <td>1</td>
              <td>4000000 VNĐ</td>
            </tr>
            <tr>
              <td colspan="1"></td>
              <td style="font-weight: bold; font-size: 18px">Trạng thái</td>
              <td style="font-weight: bold;color: #68838B; font-size: 18px">Đang vận chuyển</td>
              <td style="font-weight: bold; font-size: 18px">Tổng tiền</td>
              <td style="font-weight: bold; color: #b93a3a; font-size: 18px">
                4000000 VNĐ
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
