.container-right {
  width: 310px;
  height: 1000px;
  float: left;
  margin-left: 20px;
}

.container-right .qc {
  width: 300px;
  height: 250px;
}

.container-right .qc iframe {
  width: 300px;
  height: 250px;
}

.container-right .qc-1 {
  margin-top: 20px;
}

.container-right .single-follow {
  padding: 30px 20px 30px 20px;
  width: 331px;
  height: 190px;
  float: right;
  margin-bottom: 20px;
  margin-right: -5px;
}

.container-right .single-follow .single-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-right .single-follow .follow-us {
  background: rgba(248, 238, 238, 0.555);
  border: 1px solid #f4f4f4;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 49%;
}

.container-right .single-follow .follow-us .follow-count {
  padding-left: 15px;
}

.container-right .single-follow .follow-us .follow-count span {
  color: #232323;
  font-size: 14px;
  font-weight: 500;
}

.container-right .single-follow .follow-us .follow-count p {
  margin-bottom: 0;
  line-height: 1;
  font-size: 11px;
}

.container-right .post_category_widget {
  background-color: #f4f7f7;
  width: 300px;
  height: 710px;
}

.container-right .post_category_widget .cat-list li {
  border-bottom: 1px solid #f0e9ff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px;
  list-style-type: none;
}

.container-right .post_category_widget .cat-list li:last-child {
  border-bottom: 0;
}

.container-right .post_category_widget .cat-list li a {
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  color: black;
}

.container-right .post_category_widget .cat-list li a p {
  margin-bottom: 0px;
}

.container-right .post_category_widget .cat-list li :hover {
  color: #00bfc5;
}

.container-right .post_category_widget .cat-list li + li {
  padding-top: 15px;
}

.container-right .tag_cloud_widget {
  background-color: #f4f7f7;
  width: 300px;
  height: 200px;
}

.container-right .tag_cloud_widget ul li {
  display: inline-block;
}

.container-right .tag_cloud_widget ul li a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  margin-right: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
  font-size: 13px;
}

.container-right .tag_cloud_widget ul li a:hover {
  background: #00bfc5;
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-right .newsletter_widget {
  background-color: #f4f7f7;
  width: 300px;
  height: 220px;
}

.container-right .newsletter_widget .form-control {
  width: 90%;
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #df3939;
  padding-left: 20px;
  border-radius: 0;
  margin-top: 30px;
  margin-left: 15px;
}

.container-right .newsletter_widget .form-control::-webkit-input-placeholder {
  color: #76e0e4;
}

.container-right .newsletter_widget .form-control:-ms-input-placeholder {
  color: #76e0e4;
}

.container-right .newsletter_widget .form-control::-ms-input-placeholder {
  color: #76e0e4;
}

.container-right .newsletter_widget .form-control::placeholder {
  color: #76e0e4;
}

.container-right .newsletter_widget .form-control:focus {
  border-color: #76e0e4;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-right .newsletter_widget .button {
  width: 90%;
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bold;
  background-color: #00bfc5;
  color: white;
  border: none;
}

.container-right .newsletter_widget .button:hover {
  background-color: red;
}

.container-right .video {
  color: black;
  padding: 0px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=under-right.component.css.map */