<div class="lastnew">
  <div class="header">
    <app-menu></app-menu>
    <app-menu-bottom></app-menu-bottom>
  </div>
  <div></div>
  <div class="body">
    <div class="most-recent-area">
      <!-- Single -->
      <div class="most-recent-single">
        <div class="row1" *ngFor="let pro of products">
          <div class="col-md-4 sp_list">
            <div class="khunghinhsp">
              <img [src]="pro.img" />
            </div>
            <div class="row">
              <div class="des col-6">
                <a href="">{{ pro.productName }}</a>
                <div class="giasp">{{ [pro.price] }} VNĐ</div>
              </div>
              <div class="des col-6">
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="onClickAddProductToCart(pro.id)"
                >
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
