<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <div class="wrap">
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Đăng ký</h3>
                </div>
                <div class="w-100">
                  <p class="social-media d-flex justify-content-end">
                    <a href="#" class="icon"
                      ><img src="/assets/images/icon-fb.png" alt=""
                    /></a>
                    <a href="#" class="icon"
                      ><img src="/assets/images/icon-tw.png" alt=""
                    /></a>
                  </p>
                </div>
              </div>
              <form (ngSubmit)="onClickRegister($event)">
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    max="50"
                    id="fullName"
                    name="fullName"
                    [(ngModel)]="user.fullName"
                  />
                  <label class="form-control-placeholder" for="username"
                    >Họ và tên</label
                  >
                </div>
                <div class="form-group mt-3">
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="user.email"
                  />
                  <label class="form-control-placeholder" for="username"
                    >Email</label
                  >
                </div>
                <div class="form-group">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    maxlength="30"
                    [(ngModel)]="user.password"
                  />
                  <label class="form-control-placeholder" for="password"
                    >Mật khẩu</label
                  >
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="number"
                    id="phoneNumber"
                    class="form-control"
                    [(ngModel)]="user.phoneNumber"
                    name="phoneNumber"
                    maxlength="15"
                  />
                  <label class="form-control-placeholder" for="username"
                    >Số điện thoại</label
                  >
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary rounded submit px-3"
                  >
                    Đăng ký
                  </button>
                </div>
              </form>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0"
                    >Remember Me
                    <input type="checkbox" checked />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <p class="text-center">
                Do you have an account?
                <a
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/dangnhap']"
                  class="parent"
                  >Login</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
